# File Java build
*.class
*.jar
*.war
*.ear

# Folder NetBeans & build
/Khanza/dist/
/Khanza/build/
/Khanza/nbproject/private/
/Khanza/setting/
/Khanza/settingupdate/
/Khanza/webapps/
/Khanza/api-bpjsfktl/
/Khanza/api-bpjsfktp/
/Khanza/api-bridgingradiologi/

# File sistem
.DS_Store
Thumbs.db

# File besar yang tadi dibersihkan
*.zip
*.dll
*.exe
/SIMRS-Khanza-master/dist/
/Khanza/dist/
/Khanza/build/
/Khanza/KhanzaAntrianApotek/build/
/Khanza/KhanzaAntrianApotek/nbproject/private/
/Khanza/KhanzaAntrianLoket/build/
/Khanza/KhanzaAntrianLoket/nbproject/private/
/Khanza/KhanzaAntrianLoket2/build/
/Khanza/KhanzaAntrianLoket2/nbproject/private/
/Khanza/KhanzaAntrianPoli/build/
/Khanza/KhanzaAntrianPoli/nbproject/private/
/Khanza/KhanzaCetakAntrianLoket/build/
/Khanza/KhanzaCetakAntrianLoket/nbproject/private/
/Khanza/KhanzaHMSAnjungan/build/
/Khanza/KhanzaHMSAnjungan/nbproject/private/
/Khanza/KhanzaHMSAnjunganFingerPrint/build/
/Khanza/KhanzaHMSAnjunganFingerPrint/nbproject/private/
/Khanza/KhanzaHMSAutoVerify/build/
/Khanza/KhanzaHMSAutoVerify/nbproject/private/
/Khanza/KhanzaHMSAutoVerify2/build/
/Khanza/KhanzaHMSAutoVerify2/nbproject/private/
/Khanza/KhanzaHMSResume/build/
/Khanza/KhanzaHMSResume/nbproject/private/
/Khanza/KhanzaHMSServiceAplicare/build/
/Khanza/KhanzaHMSServiceAplicare/nbproject/private/
/Khanza/KhanzaHMSServiceMobileJKN/build/
/Khanza/KhanzaHMSServiceMobileJKN/dist/
/Khanza/KhanzaHMSServiceMobileJKN/nbproject/private/
/Khanza/KhanzaHMSServiceMobileJKNERM/build/
/Khanza/KhanzaHMSServiceMobileJKNERM/nbproject/private/
/Khanza/KhanzaHMSServicePCare/build/
/Khanza/KhanzaHMSServicePCare/nbproject/private/
/Khanza/KhanzaHMSServiceSIRSYankes/build/
/Khanza/KhanzaHMSServiceSIRSYankes/nbproject/private/
/Khanza/KhanzaHMSServiceSatuSehat/build/
/Khanza/KhanzaHMSServiceSatuSehat/nbproject/private/
/Khanza/KhanzaPengenkripsiTeks/build/
/Khanza/KhanzaPengenkripsiTeks/dist/
/Khanza/KhanzaPengenkripsiTeks/nbproject/private/
/Khanza/KhanzaSecurity16bit/build/
/Khanza/KhanzaSecurity16bit/nbproject/private/
/Khanza/KhanzaUpdater/build/
/Khanza/KhanzaUpdater/dist/
/Khanza/KhanzaUpdater/nbproject/private/
/Khanza/api-bpjsfktl/nbproject/private/
/Khanza/bjb/nbproject/private/
/Khanza/epasien/nbproject/private/
/Khanza/nbproject/private/
/Khanza/webapps/nbproject/private/
/Khanza/KhanzaHMSServiceAplicare/dist/
/Khanza/KhanzaHMSServiceSiranap/build/
/Khanza/KhanzaHMSServiceSiranap/dist/
/Khanza/KhanzaHMSServiceSiranap/nbproject/private/
